<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>View</title>
    </head>
    <body>
        <p>제목 : {{title}}</p>
        <p>작성자 : {{writer}}</p>
        <p>작성일 : {{created_at}}</p>
        <p>내용 : {{content}}</p>
        <p>조회수 : {{hit}}</p>

        <a href="/boards/list">목록가기</a>
        <a href="/boards/modify?id={{id}}">수정하기</a>
        <form method="post" action="/boards/delete?id={{id}}">
            <button type="submit">삭제하기</button>
        </form>
    </body>
</html>
